<% @correct = session[:right_count].to_s %>
<% @incorrect = session[:wrong_count].to_s %>
<% @deck_size = session[:deck_size].to_i %>
<% @progress = session[:cards].length / @deck_size %>
<%= session.inspect %>
  <% if session[:right_count] || session[:wrong_count]%>
    <ul class="stats">
      <li class="correct" id="<%= @correct %>"><b>Correct:</b> <%= @correct %></li>
      <li class="incorrect" id="<%= @incorrect %>"><b>Incorrect:</b> <%= @incorrect %></li>
      <li class="percent-correct"><b>Score:</b> <%= "#{100 * @correct.to_i / @deck_size}%" %></li>
    </ul>
    <span class="hidden deck_size" id="<%= @deck_size %>"></span>
  <% end %>

<b class="percent-complete">% Complete</b> 
<div class="meter orange nostripes">
     <span style="width: 0%"></span>
</div>