<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Dusty and Friends' Fun Cards and Walruses</title>
</head>
<body>
  <div class="wrapper">
    <header class="site-header">
        <h1><a href="/">Dusty <i class="amp">&amp;</i> Friends' Fun Cards <br><b><i class="amp">and</i> Walruses</b></a></h1>
        <div class="walrus"><img alt="a walrus" src="/images/walrus<%= rand(3) + 1 %>.jpeg"/></div>
    </header>
    <nav role="primary" class="nav">
      <ul class="global-nav">
        <% if session[:username] %>
        <li><a href="/profile">Profile</a></li>
        <% end %>
        <li><a href="/decks">Decks</a></li>
        <li><a href="/round/new">Play</a></li>
        <li class="login-out-buttons"><% if session[:username].nil? %><a href="/login" class="login">Log In</a><% else %><a href="/logout" class="logout">Logout</a><% end %>
      </ul>
    </nav>
    <div class="content" role="main">
      <% if @stats_display == true %><%= erb :_stats %><% end %>
      <%= erb :_login_form %>
      <%= yield %>
      <%= erb :_jokes %>
    </div><!--.content-->
    <footer class="footer">
      <p class="authors">Dustin, Cristin, Thomas, and Eric. Dev Bootcamp 2014.</p>
    </div>
  </div><!--.wrapper-->
</body>
</html>
