<% uname = session[:username] %>
<% if !uname.nil? %>

  <h2>Welcome <i><%= uname%></i></h2>
  <p><a href="/logout">Logout</a></p>
  <% rounds = "rounds" %>
  <h3><%= uname %> Stats</h3>
  <% rounds = "round" if @rounds_played == 1 %>
  <p>You have played <%= "#{@rounds_played} #{rounds}" %>.</p>

  <%Deck.all.each do |deck|%>
    <% rounds = "rounds"%>
    <% rounds = "round" if @rounds_played == 1 %>
    <% times = @user.decks.map(&:name).count(deck.name)%>
    <% percent = 0 %>
    <% unless @user.decks.where(name: "#{deck.name}").first == nil%>
      <% guesses = @user.decks.where(name: "#{deck.name}").first.rounds.map(&:guesses).flatten.count %>
      <% correct = @user.decks.where(name: "#{deck.name}").first.rounds.map(&:guesses).flatten.map(&:result).count(true) %>
      <% percent = correct * 100 / guesses %>
    <% end %>
    <p><b><%= "#{deck.name}</b>: #{times} #{rounds}" %>
      <span class="indent grade"><%= "Grade #{percent}\%" %></span></p>
  <% end %>


  
  <h2>Account Settings</h2>
  <h4>Change Password</h4>
  <form action="/updatePass" method="post">
  <input type="hidden" value="<%= uname%>" name="uname"/>
  <input type="password" placeholder="New Password" name="newPass"/>
  <input type="password" placeholder="Confirm New Password" name="newPassConfirm"/>
  <input type="submit" value="Update" />
  </form>
  <h4>Change Username</h4>
  <form action="/updateUname" method="post">
  <input type="hidden" value="<%= uname%>" name="oldName"/>
  <input type="text" value="<%= uname%>" name="userName"/>
  <input type="submit" value="Update" />
  </form>


  <!-- Not sure this is needed now with extra tabs, was good here but we have other places now...will comment out for now in case others disagree -->
  <!-- <h2>Deck Information</h2>
  <% Deck.all.each do |deck_obj| %>
    <div class="deckInfo">
      <h3><%= deck_obj.name%></h3>
      <% deck_obj.cards.all.each do |card|%>
        <p>Question: <%= card.question%></p>
      <% end %>
    </div>
  <% end %>
-->
<% else %>
  <code>401 You are not authorized to view this page</code>
  <p>Please <a href="/login">Login</a> if you think this is a mistake</p>
<% end %>
